---
import "../styles/global.css"
import { Image } from 'astro:assets';
import gmailImg from '../image/gmail1.png'
import linkedInImg from '../image/linkedin.png'
import githubImg from '../image/github.png'
import cvImg from '../image/cv(1).png'
import pythonImg from '../image/python.png'
import mySqlImg from '../image/mysql.png'
import reactImg from '../image/react.png'
import securityImg from '../image/security.png'
import djangoImg from '../image/django.png'
import github2Img from '../image/github(2).png'
import enlaceImg from '../image/enlace.png'
import universidadImg from '../image/universidad.png'
import ubicacionImg from '../image/local.png'
import gmailImg2 from '../image/gmailbyw.png'
import linkedinImg2 from '../image/linkedin(1).png'
import githubImg2 from '../image/github(1).png'
---

<header>
	<div class="flex justify-center items-center font-mono mt-20 ">
	  <div class="bg-neutral-900 w-5xl h-132 rounded-2xl border border-neutral-700">
		<div class="flex justify-start items-center">
			<div class="bg-red-500 w-4 h-4 flex m-6 rounded-2xl"></div>
			<div class="bg-yellow-300 w-4 h-4 flex rounded-2xl"></div>
			<div class="bg-green-500 w-4 h-4 flex m-6 rounded-2xl"></div>
		</div>
		<div class="flex flex-col justify-start items-start ml-5">
			<h3 class="text-2xl text-green-500">$ whoaim</h3>
			<h1 class="text-5xl text-white font-bold">Bruno Massocco</h1>
			<p class="text-2xl text-gray-400 mt-1">Backend developer</p>
			<h3 class="text-2xl text-green-500 mt-5">$ about me</h3>
			<p class="text-2xl text-gray-400 mt-1">Soy Técnico en programación. Recibido recientemente en la Universidad Técnologica Nacional (UTN). Especializado en el area de backend. Y profesionalizandome en automatización y DevOps.</p>
			<h3 class="text-2xl text-green-500 mt-5">$ techs</h3>
			<div class="flex flex-wrap gap-2 mt-2 max-w-full">
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 mr-2">
					<span class="text-[20px] text-white">Python</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800">
					<span class="text-[20px] text-white">Node.js</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">C#</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">JavaScript</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">Tailwind</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">Docker</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">Linux</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">Bash</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800">
					<span class="text-[20px] text-white">React</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">.NET</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">SQL</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
</header>
<section class="m-7">
	<div class="flex justify-center items-center">
		<div class="
			bg-[#112319]
			opacity-95
			border-green-400
			border
			rounded-2xl
			w-20 h-15
			flex justify-center items-center
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="../../public/docs/CV.pdf" target="_blank" rel="noopener noreferrer">
				<Image src={cvImg} alt="CV" width={50} height={50} />
			</a>
		</div>
		<div class="
			bg-[#112319]
			opacity-95
			border-green-400
			border rounded-2xl 
			w-20 h-15
			m-5
			flex justify-center items-center
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://mail.google.com/mail/?view=cm&to=brunoo6.massocco@gmail.com" target="_blank">
				<Image src={gmailImg2} alt="Imagen de Gmail" width={50} height={50}/>
			</a>
		</div>
		<div class="
			bg-[#112319]
			opacity-95
			border-green-400
			border rounded-2xl 
			w-20 h-15
			flex justify-center items-center
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://www.linkedin.com/in/bruno-massocco-49b113307/" target="_blank">
				<Image src={linkedinImg2} alt="Imagen de LinkedIn" width={50} height={50}/>
			</a>
		</div>
		<div class="
			bg-[#112319]
			opacity-95
			border-green-400
			border rounded-2xl 
			w-20 h-15 
			m-5
			flex justify-center items-center
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://github.com/wyn-code" target="_blank" rel="noopener noreferrer">
				<Image src={githubImg2} alt="Imagen de Github" width={50} height={50}/>
			</a>
		</div>
	</div>
</section>
<section>
	<div>
		<div class="flex justify-center items-center w-4xl ml-7 mt-10">
			<h1 class="text-white text-3xl m-10 font-semibold">Proyectos</h1>
		</div>
	<div class="flex justify-center items-center font-mono mt-20 ">
	  <div class="bg-neutral-900 w-5xl h-65 rounded-2xl border border-neutral-700">
		<div class="flex flex-col justify-start items-start ml-5">
			<h1 class="text-4xl text-white font-bold mt-5">Password Magnament</h1>
			<p class="text-2xl text-gray-400 mt-1">Soy Técnico en programación. Recibido recientemente en la Universidad Técnologica Nacional (UTN). Especializado en el area de backend. Y profesionalizandome en automatización y DevOps.</p>
			<div class="flex flex-wrap gap-2 mt-2 max-w-full">
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 mr-2">
					<span class="text-[20px] text-white">Python</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800">
					<span class="text-[20px] text-white">Django</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">React</span>
				</div>
				<div class="inline-flex bg-[#112319] opacity-95 justify-center items-center h-10 px-4 mt-3 rounded-sm border border-green-800 ml-2">
					<span class="text-[20px] text-white">Docker</span>
				</div>
			</div>
		</div>
	  </div>
	</div>
</section>

<section>
	<div>
		<div class="flex justify-center items-center w-4xl ml-7 mt-10">
			<h1 class="text-white text-3xl m-10 font-semibold">Formación</h1>
		</div>

	<div class="flex items-start max-w-4xl mx-auto">
		<div class="bg-green-400 rounded-2xl border-2 w-15 h-15 mr-4 flex justify-center items-center">
			<Image src={universidadImg} alt="Imagen de Universidad" width="50" height="50" />
			</div>
				<div class="flex flex-col">
					<h2 class="text-2xl text-white">Harvard - CS50</h2>
					<p class="text-white">(2026)</p>
					<p class="text-start max-w-2xl mt-2 text-white">
					Es un app web dedicada a la seguridad de datos importantes de uso diario...
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="flex items-start max-w-4xl mx-auto mt-10">
		<div class="bg-green-400 rounded-2xl border-2 w-15 h-15 mr-4 flex justify-center items-center">
			<Image src={universidadImg} alt="Imagen de Universidad" width="50" height="50" />
			</div>
				<div class="flex flex-col">
					<h2 class="text-2xl text-white">Tecnicatura en Programación - UTN</h2>
					<p class="text-white">(2023-2025)</p>
					<p class="text-start max-w-2xl mt-2 text-white">
					Es un app web dedicada a la seguridad de datos importantes de uso diario...
					</p>
				</div>
			</div>
		</div>
	</div>

	

	<div class="flex items-start max-w-4xl mx-auto mt-10">
		<div class="bg-green-400 rounded-2xl border-2 w-15 h-15 mr-4 flex justify-center items-center">
			<Image src={universidadImg} alt="Imagen de Universidad" width="50" height="50" />
			</div>
				<div class="flex flex-col">
					<h2 class="text-2xl text-white">Udemy - Python TOTAL</h2>
					<p class="text-white">(2023-2025)</p>
					<p class="text-start max-w-2xl mt-2 text-white">
					Es un app web dedicada a la seguridad de datos importantes de uso diario...
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex items-start max-w-4xl mx-auto mt-10">
		<div class="bg-green-400 rounded-2xl border-2 w-15 h-15 mr-4 flex justify-center items-center">
			<Image src={universidadImg} alt="Imagen de Universidad" width="50" height="50" />
			</div>
				<div class="flex flex-col">
					<h2 class="text-2xl text-white">Certificado en Introducción a Bases de Datos Relacionales </h2>
					<p class="text-white">(2024)</p>
					<p class="text-start max-w-2xl mt-2 text-white">
					Certificado para conocer lo básico sobre base de datos
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="flex items-start max-w-4xl mx-auto mt-10">
		<div class="bg-green-400 rounded-2xl border-2 w-15 h-15 mr-4 flex justify-center items-center">
			<Image src={universidadImg} alt="Imagen de Universidad" width="50" height="50" />
			</div>
				<div class="flex flex-col">
					<h2 class="text-2xl text-white">Academia Numen - Diplomatura en Desarrollo Web Full Stack</h2>
					<p class="text-white">(2024)</p>
					<p class="text-start max-w-2xl mt-2 text-white">
					Diplomatura Full Stack donde desarrollamos desde páginas webs estaticas hasta apps webs funcionales. Trabajanado con tecnologías como HTML, CSS, Javascript, React, Nextjs, Bootstrap, Node, Express, MongoDB, entre otras.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<hr class="text-white mt-10">
	<div class="m-10 flex items-center justify-between">
		<div class="flex items-center">
			<Image src={ubicacionImg} alt="Imagen de ubicación" width={20} height={20}></Image>
			<p class="text-white ml-2">Buenos Aires, Argentina</p>
		</div>
		<p class="text-white">Copyright-2026</p>
		<div class="flex items-center">

		<div class="
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://mail.google.com/mail/?view=cm&to=brunoo6.massocco@gmail.com" target="_blank">
				<Image src={gmailImg2} alt="Imagen de Gmail" width={35} height={35} class="m-2"/>
			</a>
		</div>

		<div class="
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://www.linkedin.com/in/bruno-massocco-49b113307/" target="_blank">
				<Image src={linkedinImg2} alt="Imagen de LinkedIn" width={35} height={35} class="m-2"/>
			</a>
		</div>
		<div class="
			transition-transform
			group-hover:scale-90
			hover:scale-125
			hover:shadow-2xl
			duration-500 ease-out
			group-hover:opacity-70 hover:opacity-100
			hover:z-10
			">
			<a href="https://github.com/wyn-code" target="_blank" rel="noopener noreferrer">
				<Image src={githubImg2} alt="Imagen de Github" width={35} height={35} class="m-2"/>
			</a>
		</div>
  </div>
</div>
</footer>
